:root{
    --darkblue: darkblue;
    --white: white;
    --gray: gray;
    --black: black;
    --dark-gray: #333 /* For consistency in later submissions */ 
    --main-width: 840px; /*For Consistency of the page */
}
nav{
    background-color: var(--darkblue);
    padding: 10px;
}
nav a {
    color: var(--white);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--darkblue);
}
main {
    max-width: var(--main-width);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--black);
    padding: 2px;
    box-shadow: 0 0 30px var(--gray);
}
p {
    padding: 0;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--black);
    padding: 1rem;
    background-color: var(--white);
    color: var(--dark-gray);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid var(--black);
    text-align: center;
}
